# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# OS / Editor
.vscode/
.DS_Store
Thumbs.db

# Docker
*.pem

# Executables
*.exe
